<div class="col-md-12">

  <div class="ml-3 mb-3">
    <button type="submit" class="btn btn-success" routerLink="/admin/cadastro-exercicio"
    ><i class="fa fa-solid fa-add"></i> Novo Exercício
    </button>
  </div>
  <div class="card">
    <table class="table table-hover align-middle" mat-table [dataSource]="exercicios">

      <!-- Id do exercício -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let exercicio"> {{exercicio.id}} </td>
      </ng-container>

      <!-- Nome do exercício -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let exercicio"> {{exercicio.nome}} </td>
      </ng-container>

      <!-- Grupo muscular -->
      <ng-container matColumnDef="grupoMuscular">
        <th mat-header-cell *matHeaderCellDef> Grupo Musc. </th>
        <td mat-cell *matCellDef="let exercicio"> {{exercicio.grupoMuscular}} </td>
      </ng-container>

      <!-- Id do exercício -->
      <ng-container matColumnDef="observacao">
        <th mat-header-cell *matHeaderCellDef> Observações </th>
        <td mat-cell *matCellDef="let exercicio"> {{exercicio.observacao}} </td>
      </ng-container>

      <!-- Id do exercício -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>


        <td mat-cell *matCellDef="let exercicio">
          <div class="container">
          <!--                                    <i routerLink="/novo-treino/{{exercicio.id}}" class="material-icons"-->
          <!--                                       style="color:black; cursor: pointer">add</i>-->

          <mat-icon routerLink="/admin/cadastro-exercicio/{{exercicio.id}}" class="fa fa-solid fa-edit mdireita"
                    style="color:black; cursor: pointer"></mat-icon>
          <!--                                    <i (click)="editDialog(cliente.id)"  class="fa fa-solid fa-edit" style="color:black; cursor: pointer"></i>-->
          <mat-icon data-toggle="modal" data-target="#modalDeletarExercicio"
                    class="fa fa-solid fa-trash" (click)="preparaDelecao(exercicio, template)"
                    style="color:red; cursor: pointer"></mat-icon>

<!--          <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>-->

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>


    </table>
    <h4 class="text-center" *ngIf="this.exercicios.data.length === 0">Sem exercícios cadastrados</h4>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title" >Confirmação</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title" (click)="closeModal()"></button>
  </div>
  <div class="modal-body" *ngIf="exercicioSelecionado">
    <p><strong>Tem certeza que deseja excluir <span class="text-primary">{{exercicioSelecionado.nome}}</span>?</strong></p>
    <p>Todas as informações associadas ao exercício serão perdidas.
      <span class="text-danger">Exercícios que estejam inseridos em fichas não poderão ser deletados.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="deletarExercicio(exercicioSelecionado)">Confirmar</button>
  </div>
</ng-template>


